# Django and core dependencies
Django>=5.2
python-decouple
dj-database-url
whitenoise

# DRF & API-related
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
drf-yasg

# Utility apps
django-cleanup
django-extensions
django-phonenumber-field
django-imagekit

# Celery and async task handling
celery
django-celery-beat
django-celery-results
redis  # Required for Celery broker

# Optional but often needed
psycopg2-binary  # PostgreSQL
Pillow  # Image file handling

# For logging and file handling
gunicorn  # production WSGI server
